.row
  .col-sm-4.col-sm-offset-4
    %h1.text-center Sign Up
    %hr/
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: false, class: 'form-control'
      .form-group
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      .form-group
        = f.submit "Sign up", class: "btn btn-primary btn-block btn-lg"
    .text-center
      = render "devise/shared/links"
