.row
  .header-container.col-md-12
    %a{href: "/admin/user/#{@user.id}"}
      %h1.center= "#{@user.first_name} #{@user.last_name} (#{@user.source.capitalize})"
.row
  .send-message-container.col-md-8.col-md-offset-2
    %form.form-inline{action: "/acp_addon/send_message", method: 'POST'}
      = hidden_field_tag :authenticity_token, form_authenticity_token
      = hidden_field_tag :id, @user.id
      %fieldset
        %legend Send message to user directly
        %input#inlineFormInput.form-control.mb-2.mr-sm-2.mb-sm-0{placeholder: "Enter message here", type: "text", name: 'message', required: ''}/
        %button.btn.btn-danger{:type => "submit"} Fire
  .col-md-8.col-md-offset-2
    %table.table.table-bordered.table-hover
      %tbody
        - @user.messages.order_by(:created_at.desc).each do |message|
          - if message.kind == 'outgoing'
            %tr.success
              %td.right= message.body
              %td= message.created_at
          - else
            %tr.danger
              %td.bold= message.body
              %td= message.created_at
