!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wbot
    = stylesheet_link_tag    'webview'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = hidden_field_tag :base_url, ENV['BASE_URL']
    .container
      %h2 Supported locations in Singapore:
      - @locations.each do |location|
        %ul
          %li
            = radio_button_tag :location, location, false, class: 'location-input'
            %label{:for => "location_#{location.gsub(' ', '_')}"}= location
            .check
              .inside
